extends ./base.layout.jade
block content
  .sidebar.hidden-xs.hidden-sm
    block sidebar
      = '\n    '
  .page-wrapper
    block page-content
      p!= '&nbsp;'
    block page-footer
      .container-fluid: .row: .col-xs-12
        +footer
block footer
