extends ../lib/jade/base.layout.jade
block content
  .container
    h1 Configuration
    .row
      .col-xs-12
        p.
          Most #[a(href='/api') API] fields are also configurable from a 
          #[code staticbuild.json] configuration file.
          The basic configuration that is created with the #[+setup] 
          command is shown below.
          Currently, jquery, bootstrap and knockout are included with the 
          default #[+setup] template.
    .row
      .col-xs-12
        pre
          p.hljs!=renderJSFile('examples/config/basic/staticbuild.json')


// Mixins

mixin setup()
  a(href='https://github.com/staticbuild/staticbuild#setup'): code setup
