extends ../lib/jade/sidebar.layout.jade
block vars
  - var ast = readClassAST('StaticBuild');

block sidebar
  include ./navlist.part.jade

block page-content
  include ./content.part.jade

block page-footer
  