extends ../base.layout.jade
block content
  - var ast = readClassAST('StaticBuild');
  .container
    .row
      .col-md-4.hidden-sm.hidden-xs
        include ./navlist.part.jade
      .col-xs-12.col-md-8
        include ./content.part.jade
        
